<strong>Olá, {{ student }}</strong>
<p>Seja Bem-Vindo ao GymPoint!!</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de Término: </strong> {{ end_date }} <br />
  <strong>Valor: R$</strong> {{ regPrice }},00
</p>
